.header {
  position: fixed;
  top: 0;
  width: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logout {
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }
}